* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Inter', sans-serif;
}

/* This is banner section style  */

.banner-container {
    background-image: url("images/banner/banner1.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
}

.banner-content {
    width: 500px;
    float: right;
    margin-top: 140px;
    margin-right: 140px;
}

.banner-text-title {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}

.discription {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    border: none;
    color: white;
    font-size: 18px;
}

.btn-box {
    float: right;
    margin-top: 15px;
}

/* This is my story style section  */

.my-story {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.story-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    width: 288px;
}

.story-discription {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-content {
    width: 500px;

}

.failure-list {
    list-style-type: square;
}

.failure-list li {
    padding: 10px;
}

/* This is my plan section styles  */
.plan-main-header {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.plans-header {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.plan-discript {
    color: #737272;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.box-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.box-image {
    width: 90px;
    height: 90px;
    margin-left: 30px;
}